<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/style.css">
  </head>
  <body>

    <!-- mobile overlay -->
    <div id="menu-overlay" class="overlay">
      <div class="overlay-content"></>
        <a href="#">About</a>
        <a href="#">Doubles Tutorials</a>
        <a href="#">Brand Partnerships</a>
        <a href="#">Music</a>
        <a href="#">Upcoming Events</a>
        <a href="#">Contact Me</a>
      </div>
    </div>

    <!-- mobile navbar -->
    <div class="mobile-navbar-container">
      <div id="menu-icon">
        <a href="#" class="menu-bars">
          <div class="bar-1"></div>
          <div class="bar-2"></div>
          <div class="bar-3"></div>
        </a>
      </div>

      <!-- mobile logo -->
      <div class="mobile-logo">
        <a href="#"><img src="/assets/images/manek-logo.png" alt="Manek Mathur"><span>&#8226</span></a>
        <div class="mobile-tagline">Squash Pro &#8226 Producer &#8226 DJ</div>
      </div>

    </div>

    <!-- full screen navbar -->
    <div class="navbar-container">
      <div class="navbar-left">
        <ul class="nav-left">
          <li><a href="/about/">About</a></li>
          <li><a href="#">Doubles Tutorials</a></li>
          <li><a href="#">Brand Partnerships</a></li>
        </ul>
      </div>
      <div class="center-logo">
        <a href="/">
          <img class="img-logo" src="/assets/images/manek-logo.png" max-width="200px" width="200px" alt="Manek Mathur">
          <span>&#8226</span>
        </a>
        <div class="header-tagline">Squash Pro &#8226 Producer &#8226 DJ</div>
      </div>
      <div class="navbar-right">
        <ul class="nav-right">
          <li><a href="#">Music</a></li>
          <li><a href="#">Upcoming Events</a></li>
          <li><a href="#">Contact Me</a></li>
        </ul>
      </div>
    </div>

<script src="/assets/main.js"></script>

  </body>
</html>
