---
---

// global variables
$rel: relative;
$black: #3A2E36;
$nav-font-size: 1.5em; //24px
$base-font-size: 1em; //16px
$btn-font-size: .75em; //12px
$base-line-height: 1.5;

//breakpoints
$bp-xxsmall: 19.50em; //320px
$bp-xsmall: 40em; //640px
$bp-small: 52.50; //840px
$bp-medium: 71.88em; //1150px
$bp-large: 85.375em; // 1366px
$bp-xlarge: 120em; //1920px
$bp-xxlarge: 160em; //2560px

//media queries
$mq-xxsmall: "(min-width: #{$bp-xxsmall})";
$mq-xsmall: "(min-width: #{$bp-xsmall})";
$mq-small: "(min-width: #{$bp-small})";
$mq-medium: "(min-width: #{$bp-medium})";
$mq-max-medium: "(max-width: #{$bp-medium})";
$mq-large: "(min-width: #{$bp-large})";
$mq-xlarge: "(min-width: #{$bp-xlarge})";
$mq-xxlarge: "(min-width: #{$bp-xxlarge})";
$mq-retina: "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)";

// global rules
body {
  color: #111;
  font-family: noodle;
  font-size: $base-font-size;

  @media #{$mq-medium} {
    font-size: $base-font-size * 1.2;
    line-height: $base-line-height;
  }

  @media #{$mq-large} {
    font-size: $base-font-size * 1.3;
  }

  @media #{$mq-xlarge} {
    font-size: $base-font-size * 1.4;
  }

  @media #{$mq-xxlarge} {
    font-size: $base-font-size * 1.6;
  }
}

@font-face {
  font-family: noodle;
  src: url(/assets/big_noodle_titling.ttf);
}

@font-face {
  font-family: memories;
  src: url(/assets/QForTheMemories-Z3ql.ttf);
}

html, body {
  height: 100%;
  margin: 0;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
.highlight {
  margin-bottom: 15px; }

//main wrapper
.main-wrapper {
  min-height: 100%;
  margin: 0 4%;

  @media #{$mq-medium} {
    margin: 0 7.5%;
  }

  @media #{$mq-large} {
    margin: 0 10.5%;
  }

  @media #{$mq-xlarge} {
    margin: 0 16.5%;
  }
}

//background images per page
.home-img {
  background-image: linear-gradient(#f5f5f575, 25%, rgba(0, 0, 0, .7)),
                    url("/assets/images/manek-home.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-y: 15%;
  width: 100%;
  height: 100%;
}

.about-img {
  background: linear-gradient(#79554873, 25%, rgba(0, 0, 0, .35)),
              url("/assets/images/manek-about.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-y: 20%;
  width: 100%;
  height: 100%;
}

.doubles-img {
  background: linear-gradient(#79554873, 25%, rgba(0, 0, 0, .2)),
              url("/assets/images/manek-doubles.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-y: 50%;
  width: 100%;
  height: 100%;
}

.brands-img {
  background: linear-gradient(75deg, #8e35357a, 35%, rgba(0, 0, 0, .25)),
              url("/assets/images/manek-brands2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
}

.music-img {
  background: linear-gradient(#79554873, 25%, rgba(0, 0, 0, .7)),
              url("/assets/images/manek-music.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
}

.contact-img {
  background-image: linear-gradient(#79554873, 25%, rgba(0, 0, 0, .7)),
              url("/assets/images/manek-contact.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
}

// navbar
.navbar-container {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4.5em;
  transition: top 0.3s;
  justify-content: center;
  background-image: linear-gradient(-45deg, rgba(39, 40, 33, .65), 25%, rgb(58, 46, 54));

  @media #{$mq-medium} {
    height: 5.8em;
  }

  @media #{$mq-large} {
    height: 7em;
  }

  @media #{$mq-xlarge} {
    height: 10em;
  }

  @media #{$mq-xxlarge} {
    height: 12em;
  }
}

.navbar-right-wrapper {
  flex: .75;
}

.navbar-logo {
  position: $rel;
  flex: .5;
  margin: 0 2%;
  text-align: center;
}

.navbar-logo a {
  display: block;
  height: 93%;
  width: fit-content;
  text-decoration: none;
}

.img-logo {
  position: absolute;
  left: .5em;
  width: 45%;
  margin: -5.5em 0;

  @media #{$mq-large} {
    width: 50%;
    margin: -6em 0;
  }

  @media #{$mq-xlarge} {
    width: 55%;
    margin: -9em 0;
  }

  @media #{$mq-xxlarge} {
    width: 60%;
    margin: -11.5em 0;
  }
}

// .header-tagline {
//   position: $rel;
//   top: 4em;
//   text-transform: uppercase;
//   font-weight: 500;
//   font-size: $tagline-font-size;
//   color: whitesmoke;
//   transition: all .5s ease-in;
//
//   @media #{$mq-large} {
//     top: 5.3em;
//     font-size: $tagline-font-size * 1;
//   }
//
//   @media #{$mq-xlarge} {
//     top: 6em;
//     font-size: $tagline-font-size * 1.25;
//   }
//
//   @media #{$mq-xxlarge} {
//     top: 5.5em;
//     font-size: $tagline-font-size * 1.45;
//   }
// }

.navbar-right {
  display: inline-grid;
  list-style: none;
  text-align: center;
}

.navbar-right {
  grid-template-columns: 17.5% 17.5% 38% 38% 17.5%;
  margin: 1.5em 0;

  @media #{$mq-medium} {
    margin: 1.2em 0;
  }

  @media #{$mq-large} {
    margin: 1em 0;
  }

  @media #{$mq-xlarge} {
    margin: 2.5em 0;
  }

  @media #{$mq-xlarge} {
    margin: 3em 0;
  }
}

.navbar-right a {
  display: inline-block;
  position: $rel;
  padding-bottom: 1px;
  text-decoration: none;
  color: whitesmoke;
  text-transform: uppercase;
  font-weight: 500;
  transition: all .3s ease-in-out;

  @media #{$mq-medium} {
    font-size: $nav-font-size;
    line-height: $base-line-height * 1;
  }

  @media #{$mq-large} {
    font-size: $nav-font-size * 1.2;
  }

  @media #{$mq-xlarge} {
    font-size: $nav-font-size * 1.3;
  }

  @media #{$mq-xxlarge} {
    font-size: $nav-font-size * 1.45;
  }
}

.navbar-right a:after {
  display: block;
  content: "";
  margin: auto;
  margin-top: 10px;
  height: 2px;
  width: 0px;
  background: transparent;
  transition: width 0.55s ease, background-color .55s ease;
}

.navbar-right a:hover:after {
  content: "";
  border-bottom: 2.5px solid whitesmoke;
  border-width: 3.5px;
  width: 100%;
}

.navbar-right a.active {
  border-bottom: 2.5px solid #000000;
  border-width: 5px;
}

.navbar-right a.active:after {margin-top: 7px;}
.navbar-right a.active:hover:after {
  content: "";
  border-bottom: 0;
}

.mobile-logo {display: none;}
.overlay-content a {display: none;}

// mobile navbar responsiveness
@media #{$mq-max-medium} {
  .navbar-container {display: none;}
  .music-img {background-position: 50%;}
  .contact-img {background-position: 50%;}
  .brands-img {background-position: 30%;}
  .home-img {
    background-position: 50%;
    background-position-y: 20%;
  }
  .about-img {
    background-position: 50%;
    background-position-y: 20%;
  }

  .overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    display: block;
    opacity: 0;
    left: 0;
    top: 0;
    overflow: hidden;
    max-height: 0;
    transition: all 0.7s;
  }

  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 30px;
    color: $black;
    display: block;
    transition: 0.3s;
  }

  .overlay-content {
    position: $rel;
    top: 10%;
    width: 100%;
    text-align: center;
    margin-top: 3em;
  }

  .overlay-content a {
    display: block;
    font-size: 1.5em;
  }

  .overlay-content a:hover {
    background-color: $black;
    color: whitesmoke;
  }

  .mobile-logo, .manek-logo {
    display: inline;
    position: $rel;
    top: -3em;
    max-width: 250px;
    width: 85%;
    float: left;
    left: 0;
  }

  .mobile-logo-link {
    display: block;
    margin-bottom: 5em;
  }

  // .mobile-tagline {
  //   position: $rel;
  //   top: -8em;
  //   text-transform: uppercase;
  //   font-weight: 600;
  //   font-size: 13px;
  //   color: whitesmoke;
  //   left: 1em;
  // }

  .mobile-navbar-container {display: inline;}

  #menu-icon {
    position: $rel;
    cursor: pointer;
    float: right;
    right: 1em;
    top: 1em;
  }

  .bar-1, .bar-3 {
    width: 30px;
    height: 4px;
    background-color: #e5e3e3;
    margin: 5px 0;
    border-radius: 5px;
    transition: 0.4s;
 }

  .bar-2 {
    width: 20px;
    height: 4px;
    background-color: #e5e3e3;
    margin: 5px 0;
    border-radius: 5px;
    transition: 0.4s;
  }

// toggle effects
  .change .bar-2 {opacity: 0;}

  .change .bar-1 {
    -webkit-transform: rotate(-45deg) translate(-5px, 6px);
    -ms-transform: rotate(-45deg) translate(-5px, 6px);
    transform: rotate(-45deg) translate(-5px, 6px);
    background-color: #463841;
  }

  .change .bar-3 {
    -webkit-transform: rotate(45deg) translate(-7px, -8px);
    -ms-transform: rotate(45deg) translate(-7px, -8px);
    transform: rotate(45deg) translate(-7px, -8px);
    background-color: #463841;
  }

  .active {
    background: linear-gradient(-50deg, #463841, 5%, whitesmoke 56%);
    opacity: 1;
    height: 100%;
    max-height: none;
  }
}

// about me section
.about-wrapper {
  display: grid;
  position: $rel;
  grid-template-columns: 50%;
  justify-content: left;
  text-align: center;
  margin: 5.5em 0;
  text-shadow: 2px 2px $black;

  @media #{$mq-max-medium} {
    margin: -2em 0;
    grid-template-columns: 100%;
    justify-content: center;
    width: 100%;
    top: -5em;
  }

  @media #{$mq-large} {
    margin: 6.5em 0;
  }

  @media #{$mq-xlarge} {
    margin: 9em 0;
  }

  @media #{$mq-xxlarge} {
    margin: 11.5em 0;
  }
}

.about-header, .about-wrapper p {
  color: whitesmoke;
  font-family: memories;
}

// doubles tutorials section
.doubles-container {
  display: flex;
  flex-flow: column;
  width: 100%;
  position: $rel;
  text-align: -webkit-center;

  @media (min-width: 19.50em) {
    top: -4em;
  }

  @media #{$mq-medium} {
    top: 1em;
    margin: 8em 0;
  }

  @media #{$mq-large} {
    top: 2em;
  }

  @media #{$mq-xlarge} {
    top: 3em;
    right: 4em;
  }

  @media #{$mq-xxlarge} {
    top: 5em;
  }
}

.video-1 h3, .video-2 h3,
.video-3 h3, .video-4 h3,
.video-5 h3 {
  font-family: memories;
  text-shadow: 2px 2px $black;
  width: fit-content;

  @media (min-width: 40em) {
    padding: 0 6.5em;
  }

  @media (min-width: 46.88em) {
    padding: 0 8em;
  }

  @media #{$mq-medium} {
    padding: 0;
    text-align: center;
    width: inherit;
  }

  @media #{$mq-xlarge} {
    width: unset;
  }
}

.video-bp-1, .video-bp-2,
.video-bp-3, .video-bp-4 {
  background-color: whitesmoke;
  height: 1px;
}

.frame-1, .frame-2,
.frame-3, .frame-4,
.frame-5 {
  border-radius: 5px;
}

.video-1 iframe, .video-2 iframe,
.video-3 iframe, .video-4 iframe,
.video-5 iframe {
  @media (min-width: 19.50em) {width: 85%;}
  @media (min-width: 40em) {width: 375px;}

  @media #{$mq-xlarge} {
    width: 75%;
    height: 16em;
  }

  @media #{$mq-xxlarge} {
    height: 17.5em;
  }
}

.video-1, .video-2, .video-3,
.video-4, .video-5 {
  @media #{$mq-medium} {
    position: $rel;
    width: 60%;
  }
}

.video-bp-1, .video-bp-2,
.video-bp-3, .video-bp-4 {
  @media (min-width: 19.50em) {
    margin: 1.5em 0;
    width: 80%;
  }

  @media (min-width: 40em) {
    width: 17.44em;
  }

  @media #{$mq-xlarge} {
    width: 20.75em;
  }
}


// brands page
.brands-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 0 4em;
  font-family: memories;
  font-size: $base-font-size;
  text-shadow: 2px 2px black;

  @media #{$mq-large} {
    font-size: $base-font-size * 1.2;
  }

  @media #{$mq-xlarge} {
    font-size: $base-font-size * 1.3;
  }

  @media #{$mq-xxlarge} {
    font-size: $base-font-size * 1.5;
  }
}

.brands-wrapper p, h3 {
  color: whitesmoke;
  font-family: memories;
}

.brands-wrapper > h3 {
  font-weight: 600;
  text-shadow: 2px 2px black;
}

.brands-header {
  position: $rel;
  top: -1.5em;
  width: 100%;
  text-align: center;
  text-shadow: 2px 2px black;
  color: whitesmoke;
}

.whoop-btn, .nucalm-btn,
.stamina-btn, .naboso-btn,
.lulu-btn, .normatec-btn,
.greens-btn {
  font-family: memories;
  background: whitesmoke;
  width: fit-content;
  height: 2.5em;
  font-weight: 650;
  font-size: $btn-font-size;
  border-radius: 1.5em;
  border-color: whitesmoke;
  margin: 0 auto;
  transition: all .3s ease-in-out;

  @media #{$mq-large} {font-size: $btn-font-size * 1.2;}

  @media #{$mq-xlarge} {
    font-size: $btn-font-size * 1.3;
    border-radius: 2.5em;
    height: 3em;
  }

  @media #{$mq-xxlarge} {font-size: $btn-font-size * 1.5;}
}

.whoop-btn:hover, .nucalm-btn:hover,
.stamina-btn:hover, .naboso-btn:hover,
.lulu-btn:hover, .normatec-btn:hover,
.greens-btn:hover {
  background: $black;
  color: whitesmoke;
  border-color: $black;
}

@media all and (min-width: 20em) {
  .main-breakpoint {
    position: $rel;
    margin: 0 auto;
    width: 65%;
    top: -3.5em;
    box-shadow: 0 0 9px 0 rgba(43, 43, 43, 0.1),
    0 5px 8px 1.5px rgba(43, 43, 43, 0.1);
  }

  .breakpoint-1, .breakpoint-2,
  .breakpoint-3, .breakpoint-4,
  .breakpoint-5, .breakpoint-6 {
    position: $rel;
    margin: 0 auto;
    width: 100%;
    top: .7em;
  }

  .normatec-logo, .whoop-logo,
  .nucalm-logo, .naboso-logo {width: 75%;}
  .greens-logo {width: 55%;}
  .stamina-logo {width: 50%;}
  .lulu-logo {width: 45%;}

  .normatec-container, .whoop-container,
  .nucalm-container, .stamina-container,
  .naboso-container, .lulu-container,
  .greens-container {
    margin: 20px;
    justify-content: center;
    text-align: center;
  }

  .stamina-header, .normatec-header,
  .whoop-header, .nucalm-header,
  .lulu-header, .greens-header {padding-top: 30px;}
}

@media all and (min-width: 40em) {
   .main-breakpoint {
    position: $rel;
    margin: 0 auto;
    width: 45%;
    top: -3em;
    box-shadow: 0 0 9px 0 rgba(43, 43, 43, 0.1),
    0 5px 8px 1.5px rgba(43, 43, 43, 0.1);
  }

  .breakpoint-1, .breakpoint-2,
  .breakpoint-3, .breakpoint-4,
  .breakpoint-5, .breakpoint-6 {
    position: $rel;
    margin: 0 auto;
    width: 90%;
    top: 1.5em;
  }

  .normatec-logo, .nucalm-logo,
  .lulu-logo, .greens-logo,
  .stamina-logo, .naboso-logo {
    width: 35%;
    float: left;
  }

  .normatec-logo {padding: 2.5em .2em;}
  .nucalm-logo {padding: 8em .5%;}

  .whoop-logo {
    width: 33%;
    float: left;
    padding: 6.5em 0.8em;
  }

  .stamina-logo {
    width: 22%;
    padding: 7.5em 1.75em;
    margin: 0 .5%;

    @media (min-width: 62.50em) {
      padding: 6em 4em;
      margin: 0 1em;
      width: 20%
    }
  }

  .naboso-logo {
    width: 30%;
    margin: 0 2%;
    padding: 5.5em .5em;

    @media (min-width: 62.50em) {
      padding: 2em .5em;
    }
  }

  .lulu-logo {
    width: 20%;
    margin: 0 7%;
    padding: 5.5em .5em;

    @media (min-width: 62.50em) {
      padding: 3.5em .5em;
    }
  }

  .greens-logo {
    width: 29%;
    padding: 4em 1.2em;

    @media (min-width: 62.50em) {
      padding: .5em 1.85em;
    }
  }

  .nucalm-header, .nucalm-text,
  .whoop-header, .whoop-text,
  .stamina-header, .stamina-text {
    float: right;
    width: 64%;
  }

  .normatec-container {
    margin: 0 1.5em;
    text-align: unset;
  }

  .whoop-container {
    position: $rel;
    margin: 1.5em 1.5em;
    text-align: unset;
  }

  .nucalm-container {
    position: $rel;
    text-align: unset;
  }

  .stamina-container {
    position: $rel;
    margin: 0 1.5em;
    text-align: unset;
    top: 1.5em;
  }

  .naboso-container {
    position: $rel;
    margin: 5em 2em;
    text-align: unset;
  }

  .lulu-container {
    position: $rel;
    margin: 1em 1.5em;
    top: 0;
    text-align: unset;
  }

  .greens-container {
    position: $rel;
    margin: 1em 3em;
    top: 0;
    text-align: unset;
  }
}

// breakpoint 1150px
@media #{$mq-medium} {
  .brands-wrapper {
    margin: 10em 0;

    @media #{$mq-xlarge} {
      margin: 15em 0;
    }

    @media #{$mq-xxlarge} {
      margin: 20em 0;
    }
  }

  .brands-header {top: -.5em;}

  .main-breakpoint {
    position: $rel;
    margin: 0 auto;
    width: 30%;
    top: -1.5em;
    box-shadow: 0 0 9px 0 rgba(43, 43, 43, 0.1),
    0 5px 8px 1.5px rgba(43, 43, 43, 0.1);
  }

  .breakpoint-1, .breakpoint-2,
  .breakpoint-3, .breakpoint-4,
  .breakpoint-5, .breakpoint-6 {
    position: $rel;
    margin: 0 auto;
    width: 90%;
    top: 2.5em
  }

  .normatec-logo, .whoop-logo,
  .nucalm-logo, .stamina-logo,
  .naboso-logo, .lulu-logo,
  .greens-logo {
    position: $rel;
    width: 30%;
    float: left;
    top: 1em;
  }

  .normatec-logo {
    margin: 0 .5em;
    top: -.5em;

    @media #{$mq-large} {
      width: 35%;
      top: 0;
      padding: 1.5em 0;
      margin: 0;
    }

    @media #{$mq-xlarge} {
      width: 35%;
      margin: 0 0 0 -1em;
    }
  }

  .whoop-logo {
    padding: 5em 0;

    @media #{$mq-large} {
      width: 35%;
      padding: 5em 0;
      margin: 0 0 0 -1.5em;
    }

    @media #{$mq-xlarge} {
      width: 39%;
      margin: 0 0 0 -3.5em;
    }

    @media #{$mq-xxlarge} {
      padding: 3em 0;
    }
  }

  .nucalm-logo {
    padding: 5em .5%;

    @media #{$mq-large} {
      width: 37%;
      padding: 5em 0;
      margin: 0 0 0 -2.5em;
    }

    @media #{$mq-xlarge} {
      width: 40%;
      margin: 0 0 0 -3.8em;
    }

    @media #{$mq-xxlarge} {padding: 3em 0;}
  }

  .stamina-logo {
    width: 20%;
    margin: 0;
    padding: 3.5em 2.5em;
    top: 0;

    @media #{$mq-large} {
      width: 22.5%;
      padding: 4em 0;
      margin: 0 1.5em;
    }

    @media #{$mq-xlarge} {
      width: 25%;
      padding: 2.5em 0;
      margin: 0;
      top: 1em;
    }

    @media #{$mq-xxlarge} {
      padding: 3em 0;
      top: 2.5em;
    }
  }

  .naboso-logo {
    top: -2em;
    width: 26%;
    padding: 3.5em .4em;

    @media #{$mq-large} {
      width: 34%;
      padding: 4em 0;
      margin: 0 0 0 -1em;
      top: -2em;
    }

    @media #{$mq-xlarge} {
      width: 36%;
      top: -2em;
      padding: 4em 0;
      margin: 0 0 0 -1.5em;
    }

    @media #{$mq-xxlarge} {
      margin: -1em 0 0 -2em;
      top: -4em;
    }
  }

  .lulu-logo {
    width: 20%;
    margin: 0 5.5%;
    top: 0;

    @media #{$mq-large} {
      width: 24%;
      margin: 0 3.5%;
      padding: 4em 0;
    }

    @media #{$mq-xlarge} {width: 25%;}
  }

  .greens-logo {
    width: 25%;
    margin: 0;
    top: 0;

    @media #{$mq-large} {
      width: 30%;
      padding: 1.5em 0;
    }

    @media #{$mq-xlarge} {
      width: 33%;
      top: -2em;
      margin: 0 0 0 -1em;
    }
  }

  .nucalm-header,.nucalm-text,
  .whoop-header, .whoop-text,
  .stamina-header, .stamina-text {
    float: right;
    width: 68%;
  }

  .stamina-btn {
    position: $rel;
    top: -2em;
  }

  .whoop-link, .stamina-link,
  .nucalm-link {
    display: inline-block;
    margin: 0 32%;
  }

  .normatec-container {
    margin: 0;
    padding: 1em 0;
  }

  .lulu-container {
    position: $rel;
    top: -2.5em;
  }

  .greens-container {
    position: $rel;
    top: 2em;
  }
}

// music section
.playlist-header, .soundcloud-title-1,
.soundcloud-title-2, .spotify-title-1  {
  font-family: memories;
  color: whitesmoke;
  text-shadow: 2px 2px $black;

  @media #{$mq-medium} {
    padding: 0 4.5em;
  }

  @media #{$mq-large} {
    padding: 0 5em;
  }

  @media #{$mq-xlarge} {
    padding: 0 6.5em;
  }

  @media #{$mq-xxlarge} {
    padding: 0 9em;
  }
}

.soundcloud-btn-1, .soundcloud-btn-2,
.spotify-btn-1 {
  padding: 10px;
  margin: 1em;
  border-radius: 5px;
  background-color: whitesmoke;
  font-size: $btn-font-size;
  font-family: memories;
  transition: all .35s ease-in-out;
}

.soundcloud-btn-1:hover, .soundcloud-btn-2:hover,
.spotify-btn-1:hover {
  background: $black;
  color: whitesmoke;
  border-color: $black;
}

//media query rules for music section
.music-wrapper {
  @media (min-width: 56.25em) {
    display: grid;
    position: $rel;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 5%;
    top: -5em;
    width: 100%;
  }

  @media #{$mq-medium} {
    margin: 7em 0;
    top: 4em;
  }

  @media #{$mq-large} {
    margin: 8em 0;
    top: 5em;
  }

  @media #{$mq-xlarge} {
    margin: 9em 0;
    top: 6em;
  }

  @media #{$mq-xxlarge} {
    margin: 10em 0;
    top: 7em;
  }
}

.playlist-container, .solo-songs-container {
  display: flex;
  flex-direction: column;
  position: $rel;
  width: 100%;
  justify-content: center;
  text-align: center;
  align-items: center;

    @media (min-width: 40em) {
      top: -3em;
    }
}

.playlist-container {
  @media (min-width: 19.50em) {
    margin: 2.5em 0;
  }

  @media (min-width: 40em) {
    margin: 2em 0;
  }

  @media (min-width: 56.25em) {
    margin: 0;
    display: unset;
  }
}

.solo-songs-container {
  @media (max-width: 40em) {
    top: -3.5em;
  }
}

.solo-songs-container a {
  @media (min-width: 19.50em) {
    display: block;
  }
}

.playlist-header, .soundcloud-title,
.spotify-title {
  @media (min-width: 19.50em) {
    margin: 2.5em 0;
  }
}

.playlist-header {
  @media (min-width: 40em) {
    margin: 1.5em 0;
  }
}

.songs-bp-1, .songs-bp-2,
.playlist-bp-1, .playlist-bp-2 {
  margin: 1.5em auto;
}


// contact form section
.form-container {
  display: flex;
  flex-direction: column;
  position: $rel;
  width: 100%;
  font-family: memories;
  //font-size: 20px;
  margin: 7.5em 3.5em;

  @media #{$mq-xxsmall} {
    top: -5.5em;
    margin: 0;
  }

  @media #{$mq-medium} {
    top: 0;
    margin: 7.5em 0;
    right: 15em;
  }

  @media #{$mq-large} {
    top: 2em;
  }

  @media #{$mq-xlarge} {
    top: 3.5em;
    margin: 9.5em 0;
    right: 18em;
  }

  @media #{$mq-xlarge} {
    top: 5.5em;
  }
}

.contact-form {
  @media #{$mq-xsmall} {
    padding: 0 6em;
  }

  @media (min-width: 52.50em) {
    padding: 0 13.5em;
  }

  @media #{$mq-medium} {
    padding: 0 15em;
  }

  @media #{$mq-large} {
    padding: 0 16em;
  }

  @media #{$mq-xxlarge} {
    padding: 0 18em;
  }
}

.fname, .lname,
.email, .subject,
.message {
  width: 48.2%;
  margin: .5em 0 1.5em;
  font-size: medium;
  height: 25px;
  border: 1px solid lightgray;
  border-radius: 2.5px;

  @media (min-width: 19.50em) {
    width: 100%;
  }
}

.message {height: 7.81em;}

label span {
  color: red;
  text-shadow: .5px 1.5px $black;
}

label {color: whitesmoke;}

.contact-btn {
  width: 100%;
  background-color: whitesmoke;
  border-radius: 5px;
  height: 30px;
  font-family: memories;
  font-size: $base-font-size; 
  transition: all .25s ease-in-out;
  cursor: pointer;
}

.contact-btn:hover {
  background-color: $black;
  color: whitesmoke;
  border: 1px solid $black;
}

// footer section
.footer-container {
  position: sticky;
  margin: 4.5em 0 0.5em;
}

.social-icons {
  display: grid;
  display: -ms-grid;
  justify-content: center;
  position: $rel;
  grid-template-columns: 5% 2px 5% 2px 5% 2px 5% 2px 5%;
  list-style: none;
  margin-left: 0;
  padding: 0;
}

.social-icons li {
  padding: 10px 0;
  text-align: center;
  transition: all .25s ease-in-out;
}

.fab {
  color: whitesmoke;
  font-size: 1.5em !important;
}

.social-icons li:hover {padding: 0 2.5px;}

.social-icons hr {
  background-color: $black;
  position: $rel;
  top: .2em;
  height: 25px;
}

// .fh-wrapper {
//   text-align: center;
//   margin: 1.5em 0;
// }
//
// .fh-logo {
//   width: 2.5%;
//   position: $rel;
//   top: .25em;
//   transition: all .4s ease-in-out;
// }
//
// .fh-logo:hover {
//   transform: rotate(360deg) translate(0px, 0px);
//   width: 4%;
// }
//
// .fh-header {color: lightgray;}

// responsive footer
@media all and (min-width: 225px) and (max-width: 450px) {
  .social-icons {
    grid-template-columns: 16.5% 5px 16.5% 5px
                           16.5% 5px 16.5% 5px
                           16.5%;
  }

  .social-icons i {
    font-size: .5em;
  }

  // .fh-logo {width: 9.5%;}
  //
  // .fh-logo:hover {
  //   // transform: rotate(360deg) translate(0px, 0px);
  //   width: 11.5%;
  // }
}

@media all and (min-width: 450px) and (max-width: 700px) {
  .social-icons {
    grid-template-columns: 12% 1px 12% 1px
                           12% 1px 12% 1px
                           12%;
  }

  // .fh-logo {width: 6.5%;}
}

@media all and (min-width: 700px) and (max-width: 1100px) {
  .social-icons {
    grid-template-columns: 8% 2px 8% 2px
                           8% 2px 8% 2px
                           8%;
  }
  // .fh-logo {width: 3.5%;}
}
