---
---

// global variables
$rel: relative;
$black: #3A2E36;

// global rules
body {
  // font: 400 16px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #111;
  font-family: noodle;
  font-size: 25px;
}

@font-face {
  font-family: noodle;
  src: url(/assets/big_noodle_titling.ttf);
}

@font-face {
  font-family: memories;
  src: url(/assets/QForTheMemories-Z3ql.ttf);
}

html, body {
  height: 100%;
  margin: 0;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
.highlight {
  margin-bottom: 15px; }

//main wrapper
.main-wrapper {min-height: 100%;}

//background images per page
.home-img {
  background-image: linear-gradient(#f5f5f575, 25%, rgba(0, 0, 0, .7)),
                    url("/assets/images/manek-home.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-y: 15%;
  width: 100%;
  height: 100%;
}

.about-img {
  background: linear-gradient(#f5f5f575, 25%, #2a2a5ab0),
              url("/assets/images/manek-about.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-y: 20%;
  width: 100%;
  height: 100%;
}

.doubles-img {
  background: linear-gradient(#79554873, 25%, rgba(0, 0, 0, .5)),
              url("/assets/images/manek-doubles.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-y: 50%;
  width: 100%;
  height: 100%;
}

.events-img {
  background: linear-gradient(10deg, #f5f5f575, 25%, #2196F3);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
}

.brands-img {
  background: linear-gradient(75deg, #8e35357a, 35%, rgba(0, 0, 0, .25)),
              url("/assets/images/manek-brands2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
}

.music-img {
  background: linear-gradient(#8bc34aa3, 25%, rgba(0, 0, 0, .7)),
              url("/assets/images/manek-music.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
}

.contact-img {
  background-image: linear-gradient(#79554873, 25%, rgba(0, 0, 0, .7)),
              url("/assets/images/manek-contact.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
}

// navbar
ul, ol {margin-left: 25px; }

.navbar-container {
  display: grid;
  display: -ms-grid;
  position: fixed;
  top: 0;
  width: 100%;
  height: 120px;
  transition: top 0.3s;
  grid-template-columns: 39% 13% 40%;
  grid-template-rows: 100%;
  justify-content: center;
  background-image: linear-gradient(45deg, rgba(39, 40, 33, 0.6), 25%, rgb(58, 46, 54));
}

.center-logo {
  position: $rel;
  margin: 0;
  height: 7em;
  text-align: center;
}

.center-logo a {
  display: inline-block;
  height: 100%;
}

.img-logo {
  position: $rel;
  top: -3.5em;
}

.header-tagline {
  position: $rel;
  top: -8em;
  margin: 0 -43px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 21px;
  color: whitesmoke;
}

.nav-left, .nav-right {
  display: inline-grid;
  list-style: none;
  text-align: center;
}

.nav-left {grid-template-columns: 26% 26% 59%;}
.nav-right {grid-template-columns: 45% 42% 23%;}

.nav-left a, .nav-right a {
  text-decoration: none;
  color: whitesmoke;
  text-transform: uppercase;
  font-weight: 500;
  padding: 10px;
  transition: border-width 0.3s ease-in-out;
}

.nav-left a:hover, .nav-right a:hover {
  border-bottom: 3px solid whitesmoke;
  border-width: 5px;
}

.nav-left a.active, .nav-right a.active {
  border-bottom: 3px solid whitesmoke;
  border-width: 5px;
}

.mobile-logo {display: none;}
.overlay-content a {display: none;}

// mobile navbar responsiveness
@media all and (max-width: 68.81em) {
  .navbar-container {display: none;}
  .home-img {background-position: 50%;}
  .music-img {background-position: 50%;}
  .contact-img {background-position: 50%;}
  .brands-img {background-position: 30%;}
  .about-img {
    background-position: 50%;
    background-position-y: 20%;
  }

  .overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    display: block;
    opacity: 0;
    left: 0;
    top: 0;
    overflow: hidden;
    max-height: 0;
    transition: all 0.7s;
  }

  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 30px;
    color: $black;
    display: block;
    transition: 0.3s;
  }

  .overlay-content {
    position: $rel;
    top: 10%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }

  .overlay-content a {
    display: block;
    font-size: 1.5em;
  }

  .overlay-content a:hover {
    background-color: $black;
    color: whitesmoke;
  }

  .mobile-logo, .manek-logo {
    display: inline;
    position: $rel;
    top: -1.5em;
    max-width: 200px;
    width: 175px;
    float: left;
    left: 0;
  }

  .mobile-logo-link {
    display: block;
    margin-bottom: 5em;
  }

  .mobile-tagline {
    position: $rel;
    top: -8em;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
    color: whitesmoke;
    left: 1em;
  }

  .mobile-navbar-container {display: inline;}

  #menu-icon {
    position: $rel;
    cursor: pointer;
    float: right;
    right: 1em;
    top: 1em;
  }

  .bar-1, .bar-3 {
    width: 30px;
    height: 4px;
    background-color: #e5e3e3;
    margin: 5px 0;
    border-radius: 5px;
    transition: 0.4s;
 }

  .bar-2 {
    width: 20px;
    height: 4px;
    background-color: #e5e3e3;
    margin: 5px 0;
    border-radius: 5px;
    transition: 0.4s;
  }

// toggle effects
  .change .bar-2 {opacity: 0;}

  .change .bar-1 {
    -webkit-transform: rotate(-45deg) translate(-5px, 6px);
    -ms-transform: rotate(-45deg) translate(-5px, 6px);
    transform: rotate(-45deg) translate(-5px, 6px);
    background-color: #463841;
  }

  .change .bar-3 {
    -webkit-transform: rotate(45deg) translate(-7px, -8px);
    -ms-transform: rotate(45deg) translate(-7px, -8px);
    transform: rotate(45deg) translate(-7px, -8px);
    background-color: #463841;
  }

  .active {
    background: linear-gradient(-50deg, #463841, 5%, whitesmoke 56%);
    opacity: 1;
    height: 100%;
    max-height: none;
  }
}

// about me section
.about-wrapper {
  display: inline-grid;
  grid-template-columns: 85%;
  justify-content: center;
  text-align: center;
  margin: 5.5em 0;
}

.about-wrapper p {
  color: whitesmoke;
  font-family: memories;
  font-size: 20px;
}

.about-header {
  color: whitesmoke;
  text-transform: uppercase;
  font-family: memories;
  font-weight: 500;
}

@media all and (max-width: 1100px) {
  .about-wrapper {
    margin: -3em 0 1.5em;
  }
}

// doubles tutorials section
.doubles-container {
  display: grid;
  display: -ms-grid;
  justify-content: left;
  text-align: center;
  margin: 5em 4em;
}

.video-bp-1, .video-bp-2,
.video-bp-3, .video-bp-4 {
  background-color: whitesmoke;
  height: 1px;
  margin: 1.5em 0;
}

.frame-1, .frame-2,
.frame-3, .frame-4 {
  border-radius: 5px;
}

@media all and (max-width: 1100px) {
  .doubles-container {
    position: $rel;
    top: -4em;
    margin-top: 0;
  }

  .video-1, .video-2,
  .video-3, .video-4 {
    margin: 1em;
  }
}

// upcoming events section
.events-message {
  display: grid;
  display: -ms-grid;
  text-align: center;
  position: $rel;
  width: 100%;
  top: 9em;
  text-transform: uppercase;
}

@media all and (max-width: 1100px) {
  .events-message {
    position: unset;
  }
}

// responsive brand partnerships section
.brands-wrapper {
  margin: 0 0 4em;
  font-family: memories;
  font-size: 20px;
  text-shadow: 2px 2px black;
}

.brands-wrapper p, h3 {
  color: whitesmoke;
  font-family: memories;
}

.brands-wrapper h3 {
  text-transform: uppercase;
  font-weight: 600;
  text-shadow: 2px 2px black;
}

.brands-header {
  display: grid;
  display: -ms-grid;
  position: $rel;
  top: -1.5em;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  color: whitesmoke;
}

.whoop-btn, .nucalm-btn,
.stamina-btn, .naboso-btn,
.lulu-btn, .normatec-btn {
  font-family: memories;
  background: whitesmoke;
  width: fit-content;
  height: 50px;
  font-weight: 650;
  font-size: 18px;
  border-radius: 5px;
  border-color: whitesmoke;
  margin: 0 auto;
  transition: all .3s ease-in-out;
}

.whoop-btn:hover, .nucalm-btn:hover,
.stamina-btn:hover, .naboso-btn:hover,
.lulu-btn:hover, .normatec-btn:hover {
  background: $black;
  color: whitesmoke;
  border-color: $black;
}

@media all and (max-width: 640px) {
  .main-breakpoint {
    top: -3.5em;
    box-shadow: 0 0 9px 0 rgba(43, 43, 43, 0.1),
    0 5px 8px 1.5px rgba(43, 43, 43, 0.1);
  }

  .main-breakpoint {
    position: $rel;
    margin: 0 auto;
    width: 65%;
  }

  .breakpoint-1,
  .breakpoint-2,
  .breakpoint-3,
  .breakpoint-4,
  .breakpoint-5 {
    position: $rel;
    margin: 0 auto;
    width: 100%;
    top: .7em;
  }

  .normatec-logo,
  .whoop-logo,
  .nucalm-logo,
  .naboso-logo {width: 75%;}

  .stamina-logo {width: 50%;}
  .lulu-logo {width: 45%;}

  .normatec-container,
  .whoop-container,
  .nucalm-container,
  .stamina-container,
  .naboso-container,
  .lulu-container {
    display: inline-grid;
    grid-template-rows: auto;
    margin: 20px;
    justify-content: center;
    text-align: center;
  }

  .normatec-container {grid-template-columns: 75%;}
  .whoop-container {grid-template-columns: 95%;}
  .nucalm-container {grid-template-columns: 85%;}
  .stamina-container {grid-template-columns: 85%;}
  .naboso-container {grid-template-columns: 100%;}
  .lulu-container {grid-template-columns: 100%;}

  .stamina-header,
  .normatec-header,
  .whoop-header,
  .nucalm-header,
  .lulu-header {padding-top: 30px;}
}

@media all and (min-width: 641px) and (max-width: 1100px) {
   .main-breakpoint {
    position: $rel;
    margin: 0 auto;
    width: 45%;
    top: -3em;
    box-shadow: 0 0 9px 0 rgba(43, 43, 43, 0.1),
    0 5px 8px 1.5px rgba(43, 43, 43, 0.1);
  }

  .breakpoint-1,
  .breakpoint-2,
  .breakpoint-3,
  .breakpoint-4,
  .breakpoint-5 {
    position: $rel;
    margin: 0 auto;
    width: 90%;
    top: 1.5em;
  }

  .normatec-logo,
  .whoop-logo,
  .nucalm-logo,
  .stamina-logo,
  .lulu-logo {
    width: 35%;
    float: left;
    margin-right: 30px;
  }

  .whoop-logo,.nucalm-logo {
    position: $rel;
    top: 4em;
  }

  .stamina-logo {
    width: 20%;
    margin: 3% 7%;
  }

  .naboso-logo {
    width: 30%;
    float: left;
    margin-right: 48px;
    margin: 0 2%;
  }

  .lulu-logo {
    width: 20%;
    margin: 0 7%;
  }

  .nucalm-header,.nucalm-text,
  .whoop-header,.whoop-text,
  .stamina-text,.stamina-header {
    float: right;
    width: 61%;
  }

  .naboso-btn, .lulu-btn {margin: 0 34%;}
  .normatec-btn, .whoop-btn, .nucalm-btn {margin: 0 39%;}
  .stamina-btn {margin: 0 38%;}

  .normatec-container {
    display: grid;
    grid-template-columns: 100%;
    margin: 0 1em;
  }

  .whoop-container {
    display: grid;
    display: -ms-grid;
    position: $rel;
    grid-template-columns: 95%;
    margin: 1.5em .5em;
    top: 1em;
  }

  .nucalm-container {
    display: grid;
    display: -ms-grid;
    position: $rel;
    grid-template-columns: 95%;
    margin: 0 -1em;
    top: 2em;
  }

  .stamina-container {
    display: inline-grid;
    position: $rel;
    grid-template-columns: 90%;
    margin: 1em 1em;
    top: 5em;
  }

  .naboso-container {
    display: inline-grid;
    position: $rel;
    grid-template-columns: 100%;
    margin: 5em 1em;
    top: 2em;
  }

  .lulu-container {
    display: inline-grid;
    position: $rel;
    grid-template-columns: 100%;
    margin: 1em 1em;
    top: 0;
  }
}

@media all and (min-width: 1100px) and (max-width: 1500px) {
  .brands-wrapper {margin: 10em 0;}
  .brands-header {top: -.5em;}

  .main-breakpoint {
    position: $rel;
    margin: 0 auto;
    width: 30%;
    top: -1.5em;
    box-shadow: 0 0 9px 0 rgba(43, 43, 43, 0.1),
    0 5px 8px 1.5px rgba(43, 43, 43, 0.1);
  }

  .breakpoint-1,
  .breakpoint-2,
  .breakpoint-3,
  .breakpoint-4,
  .breakpoint-5 {
    position: $rel;
    margin: 0 auto;
    width: 90%;
    top: 2.5em
  }

  .normatec-logo,
  .whoop-logo,
  .nucalm-logo,
  .stamina-logo,
  .naboso-logo,
  .lulu-logo {
    position: $rel;
    width: 30%;
    float: left;
    margin-right: 15px;
    top: 1em;
  }

  .naboso-logo {top: 0;}
  .stamina-logo {
    width: 20%;
    margin: 0 5%;
    top: 0;
  }

  .lulu-logo {
    width: 20%;
    margin: 0 5.5%;
    top: 0;
  }

  .nucalm-header,.nucalm-text,
  .whoop-header,
  .whoop-text,.stamina-text,
  .stamina-header {
    float: right;
    width: 68%;
  }

  .stamina-btn {
    position: $rel;
    top: -2em;
  }

  .whoop-link, .stamina-link,
  .nucalm-link {
    display: inline-block;
    margin: 0 32%;
  }

  .normatec-container {
    display: inline-grid;
    grid-template-columns: 100%;
    margin: 7%;
  }

  .whoop-container {
    display: inline-grid;
    position: $rel;
    grid-template-columns: 100%;
    margin: 50px;
  }

  .nucalm-container {
    display: inline-grid;
    position: $rel;
    grid-template-columns: 100%;
    margin: 50px;
  }

  .stamina-container {
    display: inline-grid;
    position: $rel;
    grid-template-columns: 100%;
    margin: 50px;
  }

  .naboso-container {
    display: inline-grid;
    position: $rel;
    grid-template-columns: 100%;
    margin: 50px;
  }

  .lulu-container {
    display: inline-grid;
    position: $rel;
    grid-template-columns: 100%;
    margin: 50px;
    top: 2em;
  }
}

// music section
.playlist-header, .soundcloud-title-1, .soundcloud-title-2  {
  font-family: memories;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
  color: whitesmoke;
}

.soundcloud-btn-1, .soundcloud-btn-2 {
  padding: 10px;
  margin: 1em;
  border-radius: 5px;
  background-color: whitesmoke;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 15px;
  font-family: memories;
  transition: all .35s ease-in-out;
}

.soundcloud-btn-1:hover, .soundcloud-btn-2:hover {
  background: $black;
  color: whitesmoke;
  border-color: $black;
}

@media all and (max-width: 355px) and (min-width: 250px) {
  .playlist-container, .solo-songs-container {
    display: grid;
    display: -ms-grid;
    width: 100%;
    grid-row-gap: 5%;
    justify-content: center;
    text-align: center;
  }

  .playlist-container {
    grid-template-rows: 10%;
    grid-row-gap: 0;
  }

  .playlist-header {
    text-transform: uppercase;
    font-weight: 500;
    margin: 7em 0;
  }

  .soundcloud-title, .spotify-title {
    text-transform: uppercase;
    font-weight: 600;
  }

  .playlist-bp-1, .playlist-bp-2 {margin-top: 1em;}
  .songs-bp-1, .songs-bp-2 {margin: auto 1.5em;}
}

@media all and (max-width: 900px) and (min-width: 355px) {
  .playlist-container, .solo-songs-container {
    display: grid;
    display: -ms-grid;
    position: $rel;
    width: 100%;
    top: -3em;
    grid-row-gap: 5%;
    justify-content: center;
    text-align: center;
  }

  .playlist-container {
    grid-template-rows: 10%;
    grid-row-gap: 0;
  }

  .soundcloud-player-1, .soundcloud-player-2 {width: 75%;}

  .playlist-header {
    text-transform: uppercase;
    font-weight: 600;
    margin: 4.5em 0;
    color: whitesmoke;
  }

  .soundcloud-title-1, .soundcloud-title-2 {
    text-transform: uppercase;
    font-weight: 600;
    color: whitesmoke;
  }

  .songs-bp-1, .songs-bp-2 {margin: auto 2em;}
  .playlist-bp-1, .playlist-bp-2 {margin-top: 1em;}
}

@media all and (min-width: 900px) and (max-width: 1100px) {
  .solo-songs-container, .playlist-container {
    display: grid;
    display: -ms-grid;
    width: 100%;
    justify-content: center;
    text-align: center;
  }

  .solo-songs-container {
    float: left;
    grid-gap: 5%;
    margin: -4.5em 0;
    grid-template-columns: 33%;
    width: 100%;
  }

  .playlist-container {
    grid-gap: .5%;
    position: $rel;
    top: 10em;
    margin: 20em 0;
  }

  .playlist-header {margin: 1.2em 0;}
  .songs-bp-1, .songs-bp-2 {margin-top: 2em;}
  .playlist-bp-1, .playlist-bp-2 {margin: 1.5em 0;}
}

@media all and (min-width: 1100px) and (max-width: 1440px) {
    .solo-songs-container, .playlist-container {
      display: grid;
      display: -ms-grid;
      width: 50%;
      justify-content: center;
      text-align: center;
    }

    .solo-songs-container {
      float: left;
      grid-template-columns: 44%;
      grid-gap: 2.5%;
    }

    .playlist-container {
      grid-gap: .5%;
      margin: 9em 0;
    }

    .soundcloud-player-1, .soundcloud-player-2 {width: 100%;}
    .playlist-header {margin: 1.2em 0;}
    .songs-bp-1 {margin-top: 2em;}
    .songs-bp-2 {display: none;}
    .playlist-bp-1, .playlist-bp-2 {margin: 1.5em 0;}
}

// contact form section
.form-container {
  display: grid;
  display: -ms-grid;
  width: 80%;
  margin: 5.5em 3.5em;
  grid-template-columns: 40%;
}

.fname, .lname,
.email, .subject,
.message {
  width: 48.2%;
  margin: .5em 0 1.5em;
  font-size: medium;
  height: 25px;
  border: 1px solid lightgray;
  border-radius: 2.5px;
}

.email, .subject, .message {width: 98%;}
.message {height: 125px;}

label span {
  color: red;
  text-shadow: .5px 1.5px $black;
}

label {color: whitesmoke;}

.contact-btn {
  width: 99%;
  background-color: whitesmoke;
  border-radius: 5px;
  height: 30px;
  text-transform: uppercase;
  font-family: noodle;
  font-weight: 600;
  font-size: 25px;
  transition: all .25s ease-in-out;
  cursor: pointer;
}

.contact-btn:hover {
  background-color: $black;
  color: whitesmoke;
  border: 1px solid $black;
}

// responsive contact form
@media all and (max-width: 680px) and (min-width: 250px) {
  .form-container {
    position: $rel;
    top: -1.5em;
    grid-template-columns: 90%;
    width: 100%;
    justify-content: center;
    margin: 0;
  }
  .fname, .lname {
    width: 98%;
  }
}

@media all and (min-width: 680px) and (max-width: 1100px) {
  .form-container {
    position: $rel;
    top: -2.5em;
    grid-template-columns: 50%;
    width: 100%;
    justify-content: center;
    margin: 0;
  }
}

@media all and (min-width: 1100px) and (max-width: 1440px) {
  .form-container {grid-template-columns: 40%;}
}

// footer section
.footer-container {
  position: sticky;
  margin: 0 0 2.5em;
}

.social-icons {
  display: grid;
  display: -ms-grid;
  justify-content: center;
  position: $rel;
  grid-template-columns: 5% 2px 5% 2px 5% 2px 5% 2px 5%;
  list-style: none;
  margin-left: 0;
  padding: 0;
}

.social-icons li {
  padding: 10px 0;
  text-align: center;
  transition: all .25s ease-in-out;
}

.fab {
  color: whitesmoke;
  font-size: 1.5em !important;
}

.social-icons li:hover {padding: 0 2.5px;}

.social-icons hr {
  background-color: $black;
  position: $rel;
  top: .2em;
  height: 25px;
}

// .fh-wrapper {
//   text-align: center;
//   margin: 1.5em 0;
// }
//
// .fh-logo {
//   width: 2.5%;
//   position: $rel;
//   top: .25em;
//   transition: all .4s ease-in-out;
// }
//
// .fh-logo:hover {
//   transform: rotate(360deg) translate(0px, 0px);
//   width: 4%;
// }
//
// .fh-header {color: lightgray;}

// responsive footer
@media all and (min-width: 225px) and (max-width: 450px) {
  .social-icons {
    grid-template-columns: 16% 1px 16% 1px
                           16% 1px 16% 1px
                           16%;
  }
  .social-icons i {
    font-size: .5em;
  }

  // .fh-logo {width: 9.5%;}
}

@media all and (min-width: 450px) and (max-width: 700px) {
  .social-icons {
    grid-template-columns: 12% 1px 12% 1px
                           12% 1px 12% 1px
                           12%;
  }

  // .fh-logo {width: 6.5%;}
}

@media all and (min-width: 700px) and (max-width: 1100px) {
  .social-icons {
    grid-template-columns: 6% 1px 6% 1px
                           6% 1px 6% 1px
                           6%;
  }

  // .fh-logo {width: 3.5%;}
}
