---
permalink: /about/
layouts: default
---

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About</title>
    <link rel="stylesheet" href="{{ "/assets/style.css" | relative_url }}">
    <link rel="icon" type="image/x-icon" href="/favicon.ico" >
  </head>
  <body class="about-img">

    <div class="main-wrapper">
      {% include nav.html %}

      <div class="about-wrapper">

       <div class="about-section">

         <h1 class="about-header">About</h1>
         <p>
          Manek Mathur is a Professional Squash player and Producer/DJ from Mumbai, India, currently based in Brooklyn, NY.
        </p>
         <p>
           From a very young age, he threaded the lines between the world of sport and music.
           His father, the multi sport athlete in the family (at the time) and his uncle,
           a professionally trained classical pianist influenced his current career.
         </p>
         <p>
           As a teenager, Manek honed his squash skills on the international junior squash circuit.
           He was recruited to play for Trinity College in Hartford, CT where he won four National Championships with his teammates between 2006-2009.
           Currently he is the Head Squash Professional at The Racquet & Tennis Club in NYC and former World #1 on the Professional Doubles tour.
        </p>
         <p>
           Off the court, Manek gravitated towards electronic music, mainly ‘House’, as he was captivated by the energy, inspiration and creativity.
           His love for the genre quickly ignited his music production career, threw him behind the turntables at college parties, and then later, for clients.
           Upon graduating and moving to NYC, he Dj’d some of the most famous rooms such as Tenjune, Kiss N Fly, Highline Ballroom, Hotel Chantelle, DL Rooftop, Su Casa Lounge, La Zarza, Babel Lounge, etc.
           He creatively threads together dynamic, groovy and stimulating vibes, both in the studio and on the dance-floor.
           All in all, Manek’s music channels his positive personality to enhance the listeners overall experience. Make sure to catch Manek competing on the SDA Pro Tour or through his production releases, curated Spotify playlists and DJ sets around NYC!
        </p>   
       </div>
      </div>

      {% include footer.html %}
    </div>

   <script src="/assets/main.js"></script>
  </body>
</html>
