---
permalink: /about/
layouts: default
---

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About</title>
    <link rel="stylesheet" href="{{ "/assets/style.css" | relative_url }}">
  </head>
  <body class="about-img">

    <div class="main-wrapper">
      {% include nav.html %}

      <div class="about-wrapper">
        <h1 class="about-header">About Me</h1>
        <p>
          Manek Mathur is a Professional Squash player and Producer/DJ  from Mumbai, India,  currently based in Brooklyn, NY.
        </p>
        <p>
          From a very young age, he threaded the lines between the world of sport and music.
          His father, the athlete in the family (at the time) and his uncle,
          the professionally trained classical pianist were his biggest influences that shaped his current career path.
        </p>
        <p>
           Competing on the International Junior squash circuit from a young age, he quickly honed his skills on court to be recruited to play for Trinity College in Hartford, CT where he won four National Championships with his teammates between 2006-2009.
           Currently he is the Head Squash Professional at The Racquet & Tennis Club in NYC and former World #1 on the Professional Doubles tour.
        </p>
        <p>
           While off court, Manek immediately gravitated towards electronic music, mainly ‘House’, as he was captivated by the energy, inspiration and creativity. This quickly ignited his production career, threw him behind the turntables at friends parties, and then later, for clients.  Upon graudating and arriving in NYC, he Dj’d some of the most famous rooms such as Tenjune, Kiss N Fly, Highline Ballroom, Hotel Chantelle, DL Rooftop, Su Casa Lounge, La Zarza, Babel Lounge etc.  His creativity threads together dynamic, groovy and stimulating vibes, both in the studio and on the dance-floor. All in all, Manek’s music channels his positive personality to enhance the listeners overall experience.
           Make sure to catch Manek competing on the SDA Pro Tour, through his production releases, his carefully curated Spotify playlists and DJ sets around NYC!
         </p>
      </div>

      {% include footer.html %}
    </div>

   <script src="/manekmathur/assets/main.js"></script>
  </body>
</html>
