---
permalink: /about/
layouts: default
---

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About</title>
    <link rel="stylesheet" href="{{ "/assets/style.css" | relative_url }}">
    <link rel="icon" type="image/x-icon" href="/favicon.ico" >
  </head>
  <body class="about-img">

    <div class="main-wrapper">
      {% include nav.html %}

      <div class="about-wrapper">

       <div class="about-section">
           <h1 class="about-header">About</h1>
           <p>
             Manek Mathur is a Professional Squash Player from India, currently based in Brooklyn, NY.<br />
             Growing up in Mumbai, India, he developed his athletic skills by playing numerous sports before gravitating towards squash at the age of 9.
             Within a couple years he was playing on the international junior circuit and later recruited to play for Trinity College in Hartford, CT, USA where he won four national titles with his teammates.<br />
             After graduating, Manek moved into the world of teaching and currently is the Head Squash Professional at the Racquet & Tennis Club in NYC.
             He also stepped into the world of hardball doubles squash, where he quickly transferred his knowledge from the singles court and is currently ranked #1 in the world on the Professional Squash Doubles Association (SDA).<br />
             Throughout his career, Manek has been fascinated by the world of fitness, performance and wellness. After suffering a career-altering Achilles injury in 2018, Manek dove into studying the intricacies of the human body, how to optimize its functionality and maximize performance, both physically and through diet.
             He is a certified Primal Health Coach, a Functional Strength and Conditioning coach and constantly looking for ways to expand his knowledge base.<br />
             Lastly, Manek produces electronic music in his free time. Releasing 3-6 tracks a year, you can find his music on all major platforms (Beatport, Spotify and Soundcloud).
           </p>
      </div>
    </div>
          {% include footer.html %}
  </div>

   <script src="/assets/main.js"></script>
  </body>
</html>
