---
permalink: /partnerships/
layouts: default
---

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="/assets/main.css">
  </head>
  <body class="brands-img">

     <div class="main-wrapper">
       {% include nav.html %}

       <div class="brands-wrapper">
         <h1 class="brands-header">Brand Partnerships</h1>

         <div class="normatec-container">
           <img src="/assets/images/normatec.jpg" class="normatec-logo" alt="Naboso Logo">
           <div class="normatec-content">
             <p>Normatec Recovery</p>
             <p>Normatec has helped tremendously with increasing bloodflow,
                reducing soreness and creating that ‘fresh legs faster’ feeling.
             </p>
             <button type="button" name="button">Click me</button>
           </div>
         </div>

       </div>

     </div>

       {% include footer.html %}

  </body>
</html>
