---
permalink: /partnerships/
layouts: default
---

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Brand Partnerships</title>
    <link rel="stylesheet" href="{{ "/assets/style.css" | relative_url }}">
    <link rel="icon" type="image/x-icon" href="/favicon.ico" >
  </head>
  <body class="brands-img">

     <!-- wrapper for content -->
     <div class="main-wrapper">
       {% include nav.html %}

       <!-- brand partnerships section -->
       <div class="brands-wrapper">
         <h1 class="brands-header">Brand Partnerships</h1>
         <hr class="main-divider">

        <!-- partner section #1   -->
         <div class="harrow-container">
           <img src="/assets/images/harrow.png" class="harrow-logo" alt="Harrow Logo">
           <div class="harrow-content">
             <h3 class="harrow-header">Harrow Sports</h3>
             <p>
               Playing squash at the highest level requires me to have equipment that I can rely on.
               Harrow Sports has been the leader in the squash industry for over 15 years and being a part of their brand for my professional career has been a rewarding relationship.
             </p>
             <a href="https://www.harrowsports.com/" class="harrow-link" target="_blank">
               <button class="brand-btn" type="button" name="button">visit harrowsports</button>
             </a>
           </div>
           <hr class="divider">
         </div>

         <div class="nuun-container">
           <img src="/assets/images/nuun.png" class="nuun-logo" alt="Nuun Life Logo">
           <div class="nuun-content">
             <h3 class="nuun-header">nuun life</h3>
             <p>
               As a long time customer of Nuun, I'm honored to work with them in 2020 as an elite ambassador.
               I've always used their Sport (grape flavor) to train and compete, but the new and improved rest, immunity and vitamin tablets are extremely beneficial to my recovery and performance.
             </p>
             <a href="https://nuunlife.com/" class="chili-link" target="_blank">
               <button class="brand-btn" type="button" name="button">visit nuun life</button>
             </a>
           </div>
           <hr class="divider">
         </div>

         <div class="chili-container">
           <img src="/assets/images/chili-logo.png" class="chili-logo" alt="Chili Technology Logo">
           <div class="chili-content">
             <h3 class="chili-header">chili technology</h3>
             <p>
               Sleep and Recovery is huge for me and my performance. If there’s one product that’s directly increased my REM sleep,
               it’s been my Chilipad. With the ability to control my body temperature at different points in the night, the Chilipad helps me sleep faster, sounder and deeper.
             </p>
             <a href="https://www.chilitechnology.com/?rfsn=3777488.c114ae&utm_source=refersion&utm_medium=affiliate&utm_campaign=3777488.c114ae" class="chili-link" target="_blank">
               <button class="brand-btn" type="button" name="button">use my chili link</button>
             </a>
           </div>
           <hr class="divider">
         </div>

         <!-- partner section #2 -->
         <div class="lymbr-container">
           <img src="/assets/images/lymbr.png" class="lymbr-logo" alt="Lymbr Logo">
           <div class="lymbr-content">
             <h3 class="lymbr-header">lymbr</h3>
             <p>
               Through personalized one-on-one stretching, Lymbr aims to create a higher sense of relaxation,
               performance and recovery for your physical and mental state.
               Check out their studio locations below and head in for a 30 or 60 min stretch!
             </p>
             <a href="https://belymbr.com/studios/" target="_blank">
               <button class="brand-btn" type="button" name="button">schedule a session</button>
             </a>
           </div>
           <hr class="divider">
         </div>

         <!-- partner section #3 -->
         <div class="whoop-container">
           <img src="/assets/images/whoop.png" class="whoop-logo" alt="Whoop Logo">
           <div class="whoop-content">
             <h3 class="whoop-header">Whoop</h3>
             <p class="whoop-text">
               As a WHOOP user since June 2016, I can strongly say that I am a firm believer in their product.
               With a in depth focus on recovery and optimizing performance, WHOOP gives you the tools to deliver at your highest level.
             </p>
             <a href="https://www.whoop.com/" class="whoop-link" target="_blank">
               <button class="brand-btn" type="button" name="button">USE DISCOUNT CODE: MANEK</button>
             </a>
           </div>
           <hr class="divider">
         </div>

         <!-- partner section #4   -->
         <div class="nucalm-container">
           <img src="/assets/images/nucalm.png" class="nucalm-logo" alt="Nucalm Logo">
           <div class="nucalm-content">
             <h3 class="nucalm-header">Nucalm</h3>
             <p class="nucalm-text">
               Nucalm is the only patented, clinically proven technology on the market currently which is proven to reduce anxiety and stress.
               Using a technology based off binaural beats and neurochemistry, it balances your autonomic nervous system and neutralizes your stress response.
               More information can be found on their website below.
             </p>
             <a href="https://www.nucalm.com/" class="nucalm-link" target="_blank">
               <button class="brand-btn" type="button" name="button">USE DISCOUNT CODE: MATHUR500</button>
             </a>
           </div>
           <hr class="divider">
         </div>

        <!-- partner section #5 -->
         <div class="pso-rite-container">
           <img src="/assets/images/pso-rite.png" class="pso-rite-logo" alt="Pso-Rite Logo">
           <div class="pso-rite-content">
             <h3 class="pso-rite-header">Pso-Rite</h3>
             <p>
               This is the only product on the market that I have used that successfully manages to relieve all of my psoas tightness and troubles!
               In addition, this can be easily used to relieve tight shoulders, lower back pain, neck stiffness, etc.
             </p>
             <a href="https://pso-rite.com/manek" class="pso-rite-link" target="_blank">
               <button class="brand-btn" type="button" name="button">USE CODE: MANEK</button>
             </a>
           </div>
           <hr class="divider">
         </div>

         <!-- partner section #6 -->
         <div class="normatec-container">
           <img src="/assets/images/normatec.png" class="normatec-logo" alt="Naboso Logo">
           <div class="normatec-content">
             <h3 class="normatec-header">Normatec Recovery</h3>
             <p>
               Normatec has helped tremendously with increasing bloodflow,
               reducing soreness and creating that ‘fresh legs faster’ feeling.
             </p>
             <a href="https://www.normatecrecovery.com/" class="normatec-link" target="_blank">
               <button class="brand-btn" type="button" name="button">USE DISCOUNT CODE: MATHUR19</button>
             </a>
           </div>
           <hr class="divider">
         </div>

         <!-- partner section #7   -->
         <div class="lulu-container">
           <img src="/assets/images/lulu.png" class="lulu-logo" alt="Lululemon Logo">
           <div class="lulu-content">
             <h3 class="lulu-header">Lululemon</h3>
             <p>
               I’m part of the lululemon collective and will receive a commission if you make a purchase through the links below.
               Performance and lululemon go hand in hand. I am lucky to be associated with this powerhouse brand through their collective program.
               Feel good, look good to perform good, right?!
             </p>
             <a class="lulu-link" href="https://shop.lululemon.com/?CID=PHG_inf&clickref=1101l6sPJgfF" target="_blank">
               <button class="brand-btn" type="button" name="button">USE MY LULULEMON LINK</button>
             </a>
           </div>
           <hr class="divider">
         </div>

         <!-- partner section #8 -->
         <div class="stamina-container">
           <img src="/assets/images/staminapro.png" class="stamina-logo" alt="Stamina Pro Logo">
           <div class="stamina-content">
             <h3 class="stamina-header">Stamina Pro Patch</h3>
             <p class="stamina-text">
               Charged with over 200 natural remedies to reduce inflammation and pain,
               Stamina Pro Patch is one of the coolest products I have tried to help alleviate pain and soreness in specific areas of my body.
               They were extremely beneficial post recovery and currently for my achilles.
             </p>
             <a href="https://www.staminapro.com/" class="stamina-link" target="_blank">
               <button class="brand-btn" type="button" name="button">USE DISCOUNT CODE: MATHUR10</button>
             </a>
           </div>
           <hr class="divider">
         </div>

         <!-- partner section #9 -->
         <div class="greens-container">
           <img src="/assets/images/greens.png" class="greens-logo" alt="Athletic Greens Logo">
           <div class="greens-content">
             <h3 class="greens-header">athletic greens</h3>
             <p>
               Athletic Greens is the quickest, easiest and healthiest way to start my day.
               It is extremely rich in vitamins and minerals that support your nervous and immune systems.
               In addition, the ingredients also enhance nutrient absorption along your digestive tract to promote gut health.
             </p>
             <a href="https://athleticgreens.com/us?rfsn=3033523.8518f5&utm_campaign=3033523&utm_medium=59005&utm_source=refersion" target="_blank">
               <button class="brand-btn" type="button" name="button">USE MY GREENS LINK</button>
             </a>
           </div>
           <hr class="divider">
         </div>

         <!-- partner section #10 -->
         <div class="naboso-container">
           <img src="/assets/images/naboso.png" class="naboso-logo" alt="Naboso Barefoot Technology Logo">
           <div class="naboso-content">
             <h3 class="naboso-header">Naboso Barefoot Technology</h3>
             <p>
               Post surgery, I found that my sensation in the left foot was lacking. After giving Naboso’s insoles a try,
               I found an immediate improvement in balance and stability.
               Naboso focuses both at the medical level as well as the performance level on optimizing movement and motor coordination through the stimulation of your nervous system.
             </p>
             <a href="https://naboso-technology.myshopify.com/?rfsn=2710679.d66831" target="_blank">
               <button class="brand-btn" type="button" name="button">USE DISCOUNT CODE: MATHURM</button>
             </a>
           </div>
         </div>

       </div>
       {% include footer.html %}
     </div>


   <script src="/assets/main.js"></script>
  </body>
</html>
