---
permalink: /partnerships/
layouts: default
---

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Brand Partnerships</title>
    <link rel="stylesheet" href="{{ "/assets/style.css" | relative_url }}">
    <link rel="icon" type="image/x-icon" href="/favicon.ico" >
  </head>
  <body class="brands-img">

     <!-- wrapper for content -->
     <div class="main-wrapper">
       {% include nav.html %}

       <!-- brand partnerships section -->
       <div class="brands-wrapper">
         <h1 class="brands-header">Brand Partnerships</h1>
         <hr class="main-breakpoint">

         <!-- partner section #1   -->
         <div class="normatec-container">
           <div class="normatec-content">
             <img src="/assets/images/normatec.png" class="normatec-logo" alt="Naboso Logo">
             <h3 class="normatec-header">Normatec Recovery</h3>
             <p>
               Normatec has helped tremendously with increasing bloodflow,
               reducing soreness and creating that ‘fresh legs faster’ feeling.
             </p>
             <a href="https://www.normatecrecovery.com/" class="normatec-link" target="_blank">
               <button class="normatec-btn" type="button" name="button">USE DISCOUNT CODE: MATHUR19</button>
             </a>
           </div>
           <hr class="breakpoint-1">
         </div>

         <!-- partner section #2   -->
         <div class="whoop-container">
           <div class="whoop-content">
             <img src="/assets/images/whoop.png" class="whoop-logo" alt="Whoop Logo">
             <h3 class="whoop-header">Whoop</h3>
             <p class="whoop-text">
               As a WHOOP user since June 2016, I can strongly say that I am a firm believer in their product.
               With a in depth focus on recovery and optimizing performance, WHOOP gives you the tools to deliver at your highest level.
             </p>
           </div>
           <a href="https://www.whoop.com/" class="whoop-link" target="_blank">
             <button class="whoop-btn" type="button" name="button">USE DISCOUNT CODE: MANEK</button>
           </a>
           <hr class="breakpoint-2">
         </div>

         <!-- partner section #3   -->
         <div class="nucalm-container">
           <div class="nucalm-content">
             <img src="/assets/images/nucalm.png" class="nucalm-logo" alt="Nucalm Logo">
             <h3 class="nucalm-header">Nucalm</h3>
             <p class="nucalm-text">
               Nucalm is the only patented, clinically proven technology on the market currently which is proven to reduce anxiety and stress.
               Using a technology based off binaural beats and neurochemistry, it balances your autonomic nervous system and neutralizes your stress response.
               More information can be found on their website below.
             </p>
           </div>
           <a href="https://www.nucalm.com/" class="nucalm-link" target="_blank">
             <button class="nucalm-btn" type="button" name="button">USE DISCOUNT CODE: MATHUR500</button>
           </a>
           <hr class="breakpoint-3">
         </div>

         <!-- partner section #4   -->
         <div class="stamina-container">
           <div class="stamina-content">
             <img src="/assets/images/staminapro.png" class="stamina-logo" alt="Stamina Pro Logo">
             <h3 class="stamina-header">Stamina Pro Patch</h3>
             <p class="stamina-text">
               Charged with over 200 natural remedies to reduce inflammation and pain,
               Stamina Pro Patch is one of the coolest products I have tried to help alleviate pain and soreness in specific areas of my body.
               They were extremely beneficial post recovery and currently for my achilles.
             </p>
           </div>
           <a href="https://www.staminapro.com/" class="stamina-link" target="_blank">
             <button class="stamina-btn" type="button" name="button">USE DISCOUNT CODE: MATHUR10</button>
           </a>
           <hr class="breakpoint-4">
         </div>

         <!-- partner section #5   -->
         <div class="naboso-container">
           <div class="naboso-content">
             <img src="/assets/images/naboso.png" class="naboso-logo" alt="Naboso Barefoot Technology Logo">
             <h3 class="naboso-header">Naboso Barefoot Technology</h3>
             <p>
               Post surgery, I found that my sensation in the left foot was lacking. After giving Naboso’s insoles a try,
               I found an immediate improvement in balance and stability.
               Naboso focuses both at the medical level as well as the performance level on optimizing movement and motor coordination through the stimulation of your nervous system.
             </p>
             <a href="https://naboso-technology.myshopify.com/?rfsn=2710679.d66831" target="_blank">
               <button class="naboso-btn" type="button" name="button">USE DISCOUNT CODE: MATHURM</button>
             </a>
           </div>
           <hr class="breakpoint-5">
         </div>

         <!-- partner section #6   -->
         <div class="lulu-container">
           <div class="lulu-content">
             <img src="/assets/images/lulu.png" class="lulu-logo" alt="Lululemon Logo">
             <h3 class="lulu-header">Lululemon</h3>
             <p>
               I’m part of the lululemon collective and will receive a commission if you make a purchase through the links below.
               Performance and lululemon go hand in hand. I am lucky to be associated with this powerhouse brand through their collective program. Feel good, look good to perform good, right?!
             </p>
             <a href="https://shop.lululemon.com/?CID=PHG_inf&clickref=1101l6sPJgfF" target="_blank">
               <button class="lulu-btn" type="button" name="button">USE MY LULULEMON LINK</button>
             </a>
           </div>
         </div>

       </div>
       {% include footer.html %}
     </div>


   <script src="/assets/main.js"></script>
  </body>
</html>
