---
permalink: /doubles/
---

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Doubles Tutorials</title>
    <link rel="stylesheet" href="/assets/style.css">
    <link rel="icon" type="image/x-icon" href="/favicon.ico" >
  </head>
  <body class="doubles-img">

    <div class="main-wrapper">

      {% include nav.html %}

      <div class="doubles-container">
        <div class="video-5">
          <h3>squash doubles vlog: Episode 5 - strategy</h3>
          <iframe width="375px" height="300px" class="frame-5"
           src="https://www.youtube.com/embed/FaHVYBon_54" allowfullscreen>
          </iframe>
          <hr class="video-bp-1">
        </div>

        <div class="video-4">
          <h3>squash doubles vlog: Episode 4 - reverse/going short</h3>
          <iframe width="375px" height="300px" class="frame-4"
           src="https://www.youtube.com/embed/eYaiZtVxFeU" allowfullscreen>
          </iframe>
          <hr class="video-bp-2">
        </div>

        <div class="video-3">
          <h3>squash doubles vlog: Episode 3 - cross courts</h3>
          <iframe width="375px" height="300px" class="frame-3"
           src="https://www.youtube.com/embed/pNhdQha9cVc" allowfullscreen>
          </iframe>
          <hr class="video-bp-3">
        </div>

        <div class="video-2">
          <h3>squash doubles vlog: Episode 2 - crossing</h3>
          <iframe width="375px" height="300px" class="frame-2"
           src="https://www.youtube.com/embed/Lz9TP6KXemk" allowfullscreen>
          </iframe>
          <hr class="video-bp-4">
        </div>

        <div class="video-1">
          <h3>squash doubles vlog: Episode 1 - positioning</h3>
          <iframe width="375px" height="300px" class="frame-1"
          src="https://www.youtube.com/embed/B0SMZnB4-f8" allowfullscreen>
          </iframe>
        </div>

      </div>

    </div>
      {% include footer.html %}

  <script src="/assets/main.js"></script>
  </body>
</html>
