---
permalink: /doubles/
---

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Doubles Tutorials</title>
    <link rel="stylesheet" href="{{ "/assets/style.css" | relative_url }}">
    <link rel="icon" type="image/x-icon" href="/manekmathur/favicon.ico" >
  </head>
  <body class="doubles-img">

    <div class="main-wrapper">
      {% include nav.html %}
      <div class="doubles-message">
        <h2>doubles tutorials coming soon...</h2>
      </div>

    </div>
      {% include footer.html %}


  <script src="/manekmathur/assets/main.js"></script>
  </body>
</html>
