---
permalink: /doubles/
---

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Doubles Tutorials</title>
    <link rel="stylesheet" href="/assets/style.css">
    <link rel="icon" type="image/x-icon" href="/favicon.ico" >
  </head>
  <body class="doubles-img">

    <div class="main-wrapper">

      {% include nav.html %}

      <!-- doubles videos section -->

      <div class="doubles-container">
        <div class="video-11">
          <div class="g-ytsubscribe" data-channel="Manek Mathur" data-channelid="UCa1i6CouP-SPBCIyh5QfFrQ" data-layout="default" data-count="default"></div>
          <h3>squash doubles vlog: Episode 11 - shoulders strength training</h3>
          <iframe width="375px" height="300px" class="frame-5"
           src="https://www.youtube.com/embed/SVXIumTx-us" allowfullscreen>
          </iframe>
          <hr class="video-bp-1" width="375px">
        </div>

        <div class="video-10">
          <h3>squash doubles vlog: Episode 10 - communcation</h3>
          <iframe width="375px" height="300px" class="frame-5"
           src="https://www.youtube.com/embed/Bpbc0voHV4A" allowfullscreen>
          </iframe>
          <hr class="video-bp-1" width="375px">
        </div>

        <div class="video-9">
          <h3>squash doubles vlog: Episode 9 - leaving balls for your partner</h3>
          <iframe width="375px" height="300px" class="frame-5"
           src="https://www.youtube.com/embed/zTE6LZT5efM" allowfullscreen>
          </iframe>
          <hr class="video-bp-1" width="375px">
        </div>

        <div class="video-8">
          <h3>squash doubles vlog: Episode 8 - prematch drills</h3>
          <iframe width="375px" height="300px" class="frame-5"
           src="https://www.youtube.com/embed/6xqaCNvFNJw" allowfullscreen>
          </iframe>
          <hr class="video-bp-1" width="375px">
        </div>

        <div class="video-7">
          <h3>squash doubles vlog: Episode 7 - the serve</h3>
          <iframe width="375px" height="300px" class="frame-5"
           src="https://www.youtube.com/embed/hy__Po6vgwE" allowfullscreen>
          </iframe>
          <hr class="video-bp-1" width="375px">
        </div>

        <div class="video-6">
          <h3>squash doubles vlog: Episode 6 - volleys</h3>
          <iframe width="375px" height="300px" class="frame-5"
           src="https://www.youtube.com/embed/dzyE3VrSx1A" allowfullscreen>
          </iframe>
          <hr class="video-bp-1" width="375px">
        </div>

        <div class="video-5">
          <h3>squash doubles vlog: Episode 5 - strategy</h3>
          <iframe width="375px" height="300px" class="frame-5"
           src="https://www.youtube.com/embed/FaHVYBon_54" allowfullscreen>
          </iframe>
          <hr class="video-bp-1" width="375px">
        </div>

        <div class="video-4">
          <h3>squash doubles vlog: Episode 4 - reverse/going short</h3>
          <iframe width="375px" height="300px" class="frame-4"
           src="https://www.youtube.com/embed/eYaiZtVxFeU" allowfullscreen>
          </iframe>
          <hr class="video-bp-2" width="375px">
        </div>

        <div class="video-3">
          <h3>squash doubles vlog: Episode 3 - cross courts</h3>
          <iframe width="375px" height="300px" class="frame-3"
           src="https://www.youtube.com/embed/pNhdQha9cVc" allowfullscreen>
          </iframe>
          <hr class="video-bp-3" width="375px">
        </div>

        <div class="video-2">
          <h3>squash doubles vlog: Episode 2 - crossing</h3>
          <iframe width="375px" height="300px" class="frame-2"
           src="https://www.youtube.com/embed/Lz9TP6KXemk" allowfullscreen>
          </iframe>
          <hr class="video-bp-4" width="375px">
        </div>

        <div class="video-1">
          <h3>squash doubles vlog: Episode 1 - positioning</h3>
          <iframe width="375px" height="300px" class="frame-1"
          src="https://www.youtube.com/embed/B0SMZnB4-f8" allowfullscreen>
          </iframe>
          <hr class="video-bp-5" width="375px">
        </div>

        <div class="video-pilot">
          <h3>squash doubles vlog: pilot</h3>
          <iframe width="375px" height="300px" class="frame-1"
          src="https://www.youtube.com/embed/7n4smv7zA1U" allowfullscreen>
          </iframe>
        </div>

      </div>

    </div>
      {% include footer.html %}

  <script src="/assets/main.js"></script>
  <script src="https://apis.google.com/js/platform.js"></script>

  </body>
</html>
