---
permalink: /events/
---

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Events</title>
    <link rel="stylesheet" href="{{ "/assets/style.css" | relative_url }}">
    <link rel="icon" type="image/x-icon" href="/favicon.ico" >
  </head>
  <body class="events-img">

    <div class="main-wrapper">
      {% include nav.html %}
      <div class="events-message">
        <h2>events coming soon...</h2>
      </div>

    </div>
      {% include footer.html %}


  <script src="/assets/main.js"></script>
  </body>
</html>
