---
permalink: /music/
---

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Music</title>
    <link rel="stylesheet" href="{{ "/assets/style.css" | relative_url }}">
    <link rel="icon" type="image/x-icon" href="/favicon.ico" >
  </head>
  <body class="music-img">

    <!-- wrapper for content -->
  <div class="main-wrapper">
      {% include nav.html %}

      <!-- solo songs section -->
  <div class="music-wrapper">

      <div class="solo-songs-container">

        <div class="solo-song-wrapper">
          <h4 class="solo-song-title">seeing ghosts (manek) — <span>new song!</span></h4>
          <iframe id="song-iframe" class="solo-song-player" src="https://open.spotify.com/embed/track/7qMDivSD9LPl8ppzsvz8x5"
          width="300" height="380" frameborder="0" allowtransparency="true" allow="autoplay">
          </iframe>
          <a href="https://open.spotify.com/artist/38LF6s6htrPqUf0qP7tjyX" target="_blank">
            <button class="solo-song-btn" type="button" name="button">listen on spotify</button>
          </a>
          <hr class="solo-song-bp" width="300">
        </div>

        <div class="solo-song-wrapper">
          <h4 class="solo-song-title">sg - lytlm (manek rework)</h4>
          <iframe class="solo-song-player width="300" height="380" scrolling="no" frameborder="no" allow="autoplay"
          src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/722481490&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true">
          </iframe>
          <a href="https://open.spotify.com/artist/38LF6s6htrPqUf0qP7tjyX" target="_blank">
            <button class="solo-song-btn" type="button" name="button">listen on spotify</button>
          </a>
          <hr class="solo-song-bp" width="300">
        </div>

        <div class="solo-song-wrapper">
          <h4 class="solo-song-title">so long girl (extended mix) - manek</h4>
          <iframe class="solo-song-player" width="300" height="380" scrolling="no" frameborder="no" allow="autoplay"
           src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/546039189&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true">
          </iframe>
          <a href="https://open.spotify.com/track/71wbayzLP1suJbGHH6Rw58" target="_blank">
            <button class="solo-song-btn" type="button" name="button">listen on spotify</button>
          </a>
          <hr class="solo-song-bp" width="300">
        </div>

        <div class="solo-song-wrapper">
          <h4 class="solo-song-title">crazy things at night (extended mix) - manek</h4>
          <iframe class="solo-song-player" scrolling="no" data-image-dimensions="0x400" src="https://w.soundcloud.com/player/?visual=true&amp;url=https%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F512330400&amp;show_artwork=true&amp;callback=YUI.Env.JSONP.yui_3_17_2_1_1558463367393_401013&amp;wmode=opaque"
           width="300" data-embed="true" frameborder="no" height="380" id="yui_3_17_2_1_1565832440501_338">
          </iframe>
          <a href="https://open.spotify.com/track/4DCuT2YGSJ9E80X0M7LTSK" target="_blank">
            <button class="solo-song-btn" type="button" name="button">listen on spotify</button>
          </a>
          <hr class="solo-song-bp" width="300">
        </div>

        <div class="solo-song-wrapper">
          <h4 class="solo-song-title">panic attack (remix) - manek, harriet manice</h4>
          <iframe class="solo-song-player" src="https://open.spotify.com/embed/track/1eMAQFrxDuEM6XG7mulmWf"
           width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media">
          </iframe>
          <a href="https://open.spotify.com/track/1eMAQFrxDuEM6XG7mulmWf" target="_blank">
            <button class="solo-song-btn" type="button" name="button">listen on spotify</button>
          </a>
        </div>
      </div>


      <!-- spotify playlist section -->
      <div class="playlist-container">
        <div class="follow-spotify-btn">
          <iframe src="https://open.spotify.com/follow/1/?uri=spotify:artist:38LF6s6htrPqUf0qP7tjyX&size=basic&theme=dark" width="200" height="25" scrolling="no" frameborder="0" style="border:none; overflow:hidden;" allowtransparency="true"></iframe>
        </div>
        <h4 class="playlist-header">what i am currently listening to:</h4>
        <div class="playlist-1">
          <iframe src="https://open.spotify.com/embed?uri=spotify%3Aplaylist%3A6McjCwuwjiEKMHCJvULrBR"
           width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media">
          </iframe>
          <hr class="playlist-bp-1" width="300">
        </div>

        <div class="playlist-2">
          <iframe src="https://open.spotify.com/embed?uri=spotify%3Aplaylist%3A4kG7dZ4HMrwzk9WNwgStSy"
           width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media">
          </iframe>
          <hr class="playlist-bp-2" width="300">
        </div>

        <div class="playlist-3">
          <iframe src="https://open.spotify.com/embed?uri=spotify%3Aplaylist%3A6Eprqt9A2uqia8FExPC4eY"
           width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media">
          </iframe>
        </div>
      </div>


  </div>
</div>

  {% include footer.html %}

  <script src="/assets/main.js"></script>
  </body>
</html>
