---
permalink: /music/
layouts: default
---

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="/assets/main.css">
  </head>
  <body class="music-img">

    <!-- wrapper for content -->
    <div class="main-wrapper">
      {% include nav.html %}

    <div class="playlist-container">
      <h4 class="playlist-header">what i am currently listening to:</h4>
      <div class="playlist-1">
        <iframe src="https://open.spotify.com/embed?uri=spotify%3Aplaylist%3A6McjCwuwjiEKMHCJvULrBR"
        width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media">
        </iframe>
        <hr class="breakpoint-1">
      </div>

      <div class="playlist-2">
        <iframe src="https://open.spotify.com/embed?uri=spotify%3Aplaylist%3A4kG7dZ4HMrwzk9WNwgStSy"
        width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media">
        </iframe>
        <hr class="breakpoint-2">
      </div>

      <div class="playlist-3">
        <iframe src="https://open.spotify.com/embed?uri=spotify%3Aplaylist%3A6Eprqt9A2uqia8FExPC4eY"
        width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media">
        </iframe>
      </div>

    </div>

    </div>
      {% include footer.html %}


  </body>
</html>
